<navbar></navbar>
<div class="container">
    <div class="col-md-2">
        <a class="backbutton" href="/jobInfo"><h3><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Back</h3></a>
    </div>
    <div class="col-md-8">
        <form #jobDetails="ngForm" class="job-form">
            <div class="form-group" style="font-size:14px">
                <label for="jobTittle">Job Title</label>
                <input type="text" class="form-control" id="jobTittle" required minlength="1" placeholder="please input job title" [(ngModel)]="jobform.jobTittle" name='jobTittle' #jobTittle="ngModel">
                <div [hidden]="!submitted || jobTittle.valid" class="alert alert-danger">Job Title Invalid</div>
            </div>
            <div class="form-group">
                <label for="jobDescription">Job Description</label>
                <textarea type="text" rows="5" class="form-control" id="jobDescription" required minlength="1" placeholder="less than 140 characters" maxlength="140" [(ngModel)]="jobform.jobDescription" name='jobDescription' #jobDescription="ngModel"></textarea>
                <div [hidden]="!submitted || jobDescription.valid" class="alert alert-danger">Job Description Invalid</div>
            </div>
            <div class="form-group">
                <label for="location">Location</label>
                <input type="text" class="form-control" id="location" required minlength="1" [(ngModel)]="jobform.location" name='location' #location="ngModel">
                <div [hidden]="!submitted || location.valid" class="alert alert-danger">Location Invalid</div>
            </div>
            <div class="form-group">
                <label for="categories">Categories</label>
                <input type="text" class="form-control" id="categories" required minlength="1" [(ngModel)]="jobform.categories" name="categories" #categories="ngModel" >
                <div [hidden]="!submitted || categories.valid" class="alert alert-danger">Categories Invalid</div>
            </div>
            <div class="form-group">
                <label for="startTime">Start Time</label>
                <input type="date" class="form-control" id="startTime" [(ngModel)]="jobform.startTime" name="startTime" #startTime="ngModel" required >
                <div [hidden]="!submitted || startTime.valid" class="alert alert-danger">Start Time Invalid</div>
            </div>
            <div class="form-group">
                <label for="expirTime">Expiration Time</label>
                <input type="date" class="form-control" id="expirTime" [(ngModel)]="jobform.expirTime" name="expirTime" #expirTime="ngModel" required>
                <div [hidden]="!submitted || expirTime.valid" class="alert alert-danger">Expire Time Invalid</div>
            </div>
            <div class="form-group">
                <label for="requiredSkills">Required Skills</label>
                <div class="row">
                    <div class="col-md-11">
                        <input type="text" class="form-control" id="requiredSkills" [(ngModel)]="skill" name="skill">
                    </div>
                    <div class="col-md-1">
                        <span class="glyphicon glyphicon-plus plus" aria-hidden="true" (click)="add_skills(skill)"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
              <span *ngFor="let item of jobform.requiredSkills" class="label label-info skills">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="remove_skills(item);">
                  <span class="label label-info" aria-hidden="true">&times;</span>
                </button>{{ item }}
              </span>
            </div>
            <br>
            <button type="submit" class="btn btn-primary" style="width:100%;"
                    (click)=" add(jobform)">
                Post Job
            </button>
        </form>
    </div>
</div>
