<div class="jobdetail-wrapper">
    <navbar></navbar>
    <div class="col-sm-2">
        <a class="backbutton" href="/jobInfo"><h3><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Job List</h3></a>
    </div>
    <div class="container">
        <div class="row jobdetail-header">
            <div class="col-md-10">
                <h2 class="jobdetail-title">{{jobdetail?.jobTittle}}</h2>
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-custom">
                        <h1 class="panel-title">Start Time: {{jobdetail?.startTime | date}}  | End Time: {{jobdetail?.expirTime | date}}</h1>
                    </div>
                    <div class="panel-body">
                        <h4> Job Description: </h4> <p class="job-description"> {{jobdetail?.jobDescription}} </p>

                    </div>
                    <!-- List group -->
                    <ul class="list-group">
                        <li class="list-group-item"><h4>Skills Required :</h4> {{jobdetail?.requiredSkills.toString()}}</li>
                        <li class="list-group-item"><h4>Location:</h4> {{jobdetail?.location}}</li>
                        <li class="list-group-item"><h4>Categories:</h4> {{jobdetail?.categories}}</li>
                    </ul>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-custom">
                        <h1 class="panel-title">User Comment</h1>
                    </div>
                    <ul class="list-group">
                        <li *ngFor="let comment of jobdetail?.comments" class="list-group-item">
                            <h4 class="username">{{ comment.replier.userName }}</h4>
                            <h6> Reply time: {{ comment.commentTime | date}}</h6>
                            <h5>{{ comment.comment }}</h5>
                        </li>
                    </ul>
                </div>
                <!--<div class="panel panel-default">-->
                    <!--<div class="panel-heading panel-heading-custom">-->
                        <!--<h1 class="panel-title">Your Comment</h1>-->
                    <!--</div>-->
                    <!--<form #comments="ngForm">-->
                        <!--<div class="form-group">-->
                            <!--<label for="comment">-->
                    <textarea #comment class="form-control" rows="3"></textarea>
                            <!--</label>-->
                        <!--</div>-->
                    <!--</form>-->
                    <button type="button" class="btn btn-primary" (click)="addComment(comment.value)">
                        Reply
                    </button>
                <!--</div>-->
                <a href="/jobInfo"><h3>Back</h3></a>
            </div>
        </div>
    </div>
</div>
