.slide {

}
.item {
    width: 100%; /* you can use % */
    height: auto;
}
.highlight {
    opacity: 0.8;
    background-color: black;
    /*text-align: left;*/
    font-size: 20px;
    font-weight:200;
}
.outside {
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
}