<div class="container">
  <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <form #loginForm="ngForm">
        <div class="form-group">
          <label for="info">info</label>
          <input type="text" class="form-control" id="info" placeholder="Email or Username" [(ngModel)]='form.info' name='info' #info="ngModel" required pattern="^[a-z0-9A-Z]+([._\\-]*[a-z0-9A-Z])*@([a-z0-9A-Z]+[-a-z0-9A-Z]*[a-z0-9A-Z]+.){1,63}[a-z0-9A-Z]+$">
          <div [hidden]="info.untouched || info.valid || info.pristine" class="alert alert-danger">invalid info</div>
        </div>
        <div class="form-group">
          <label for="password">password</label>
          <input type="password" class="form-control" id="password" placeholder="password" [(ngModel)]="form.password" name='password' #password="ngModel" required>
          <div [hidden]="password.untouched || password.valid || password.pristine" class="alert alert-danger">invalid password</div>
        </div>
        <button type="submit" class="btn btn-default"
        (click)="get(form); clear()" [disabled]="loginForm.form.invalid" >
        submit
        </button>
      </form>
    </div>
  </div>
</div>
